<%= form_for(@fate_card) do |f| %>
  <% if @fate_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fate_card.errors.count, "error") %> prohibited this fate_card from being saved:</h2>

      <ul>
      <% @fate_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_id %><br>
    <%= f.text_field :character_id %>
  </div>
  <div class="field">
    <%= f.label :story_id %><br>
    <%= f.text_field :story_id %>
  </div>
  <div class="field">
    <%= f.label :deck_position %><br>
    <%= f.number_field :deck_position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
