<h1>Listing fate_cards</h1>

<table>
  <thead>
    <tr>
      <th>Character</th>
      <th>Story</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fate_cards.each do |fate_card| %>
      <tr>
        <td><%= fate_card.character_id %></td>
        <td><%= fate_card.story_id %></td>
        <td><%= link_to 'Show', fate_card %></td>
        <td><%= link_to 'Edit', edit_fate_card_path(fate_card) %></td>
        <td><%= link_to 'Destroy', fate_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fate card', new_fate_card_path %>
