<div class="branch_card">
  <% link_to_remove_association "Delete Branch", f, 'wrapper-class' => "branch_card" %>
  <div class ="branch_card_left_column">
      <b><%= f.label :Title %></b>
      <%= f.text_field :title %> 
      <b><%= f.label(:Hook, class: "branch_description") %></b>
      <%= f.text_area :description %>
      <b><%= f.label :Outcome %></b>
      <%= f.text_area :outcome %>
      <br>
    </div>  
    <div class ="branch_card_right_column">
      <p><%= render 'effectform', :branch => branch %></p>
    </div>
      <div id="submit_button"><%= story.button :submit, name: "story_id", value: @story.id %></div>
  </div>
<% end %>
