<div id="branch">
  <%= form_for @branch do |branch| %>
    <%= render 'branchformerrors' %>
    <%= branch.hidden_field :story_id, :value => @story.id %>
    <table>
      <tr>
        <td>
          <%= branch.label :branch_title %>
          <%= branch.text_field :title %> 
          <%= branch.label :branch_description %>
          <%= branch.text_area :description %>
        </td>
        <td>   
          <%= branch.label :branch_outcome_text %>
          <%= branch.text_area :outcome %>
          <br>
          <%= branch.button :submit, name: "story_id", value: @story.id %>
        </td>
      </tr>
    </table>
  <% end %>
</div>