  <%= form_for @branch do |branch| %>
    <%= render 'branchformerrors' %>
      <%= branch.label :story_title %>  
      <%= branch.select(:story_id) do %>
        <% @stories.collect{|q| [q.title, q.id]}.each do |c| -%>
          <% if @branch.story_id == c.last or c.last == params[:story_id].to_i%>
            <%= content_tag(:option, c.first, value: c.last, :selected => true) %>
          <% else %>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      <% end %>
    <p>    
      <%= branch.label :branch_title %>
      <%= branch.text_field :title %>
    </p>
    <p>    
      <%= branch.label :branch_description %>
      <%= branch.text_area :description %>
    </p>
    <p>    
      <%= branch.label :branch_outcome_text %>
      <%= branch.text_area :outcome %>
    </p>
    <p>
      <%= branch.submit %>
    </p>
  <% end %>