<% @branches.each do |branch| %>
  <%= form_for branch, as: :patch, url: update_branch_path(branch, :branch_id => branch.id) do |b| %>
  <div class="branch_card">
    <%= render 'branchformerrors', :branch => b %>
    <%= b.hidden_field :branch_id, :value => branch.id %>
    <%= b.hidden_field :story_id, :value => @story.id %>
    <div class ="branch_card_left_column">
      <b><%= b.label :Title %></b>
      <%= b.text_field :title %> 
      <b><%= b.label(:Hook, class: "branch_description") %></b>
      <%= b.text_area :description %>
      <b><%= b.label :Outcome %></b>
      <%= b.text_area :outcome %>
      <br>
      <%= b.button :submit %>
    </div>  
    <div class ="branch_card_right_column">
      <p><%= render 'effectform', :current_branch => branch %></p>
    </div>
  </div>
  <% end %>
<% end %>
