<div id="effectform">
  <h3>Branch Effects</h3>
  <table>
    <tr>
      <th>Quality Required</th>
      <th>Operation</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    <%= branch.fields_for :effects do |effect| %>
    <tr class="effect_fields">
      <% unless effect.object.id.blank? %>
        <%= effect.hidden_field(:id, :value => effect.object.id)%>
      <% end %>
      <td>    
        <%= effect.select(:quality_id, Quality.all.collect {|q| [ q.name, q.id ] }, { include_blank: true }) %>
      </td> 
      <td>
        <%= effect.select(:operation, [['plus','plus'], ['minus','minus'],['equals','equals']], { include_blank: true }) %>
      </td>
      <td>
        <%= effect.text_field :amount %>
      </td>
      <td>
        <%= effect.hidden_field :_destroy %>
        <% if effect.object.id.blank? %>
          <div id="submit_button"><%= branch.button :submit, name: "branch_id", value: branch.object.id %></div>
        <% else %>
          <%= link_to "Delete", destroy_effect_path(:effect_id => effect.object.id, :branch_id => branch.object.id), method: :delete %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>