<%= form_for @requirement do |requirement| %>
  <%= render 'requirementformerrors' %>
  <table>
    <tr>
      <th>Key</th>
      <th>Story</th>
      <th>Quality Required</th>
      <th>Operation</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    <% unless @requirements.nil? %>
      <% @requirements.each do |requirement| %>
        <tr>
          <td><%= requirement.id %></td>
          <td><%= requirement.story.title %></td>
          <td><%= requirement.quality.name %></td>
          <td><%= requirement.operation %></td>
          <td><%= requirement.amount %></td>
          <td>
            <%= link_to 'Edit', edit_requirement_path(requirement) %>,
            <%= link_to 'Destroy', requirement_path(requirement), method: :delete %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td></td>
      <td> 
        <%= requirement.hidden_field :story_id, :value => @story.id %>
        <b><%= @story.title %></b>
      </td>
      <td>    
        <%= requirement.select(:quality_id) do %>
          <% @qualities.collect{|q| [q.name, q.id]}.each do |c| -%>
            <% if @requirement.quality_id == c.last %>
              <%= content_tag(:option, c.first, value: c.last, :selected => true) %>
            <% else %>
              <%= content_tag(:option, c.first, value: c.last) %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= requirement.select(:operation, options_for_select([['greater than','greater than'],
                                                               ['less than','less than'],
                                                               ['equals','equals']])) %>
      </td>
      <td>
        <%= requirement.text_field :amount %>
      </td>
      <td>
        <%= requirement.button :submit, name: "story_id", value: @story.id %>
      </td>
    </tr>
  </table>
<% end %>
