<table>
  <tr>
    <th>Key</th>
    <th>Story</th>
    <th>Quality Required</th>
    <th>Modifier</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>
  <% @requirements.each do |requirement| %>
    <tr>
      <td><%= requirement.id %></td>
      <td><%= requirement.story.title %></td>
      <td><%= requirement.quality.name %></td>
      <td><%= requirement.modifier %></td>
      <td><%= requirement.amount %></td>
      <td>
        <%= link_to 'Edit', edit_requirement_path(requirement) %>,
        <%= link_to 'Destroy', requirement_path(requirement), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>