  <%= form_for @requirement do |requirement| %>
    <%= render 'requirementformerrors' %>
      <%= requirement.label :story_title %>  
      <%= requirement.select(:story_id) do %>
        <% @stories.collect{|q| [q.title, q.id]}.each do |c| -%>
          <% if @requirement.story_id == c.last or c.last == params[:story_id].to_i%>
            <%= content_tag(:option, c.first, value: c.last, :selected => true) %>
          <% else %>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      <% end %>
    <p> 
      <%= requirement.label :quality_name %>    
      <%= requirement.select(:quality_id) do %>
        <% @qualities.collect{|q| [q.name, q.id]}.each do |c| -%>
          <% if @requirement.quality_id == c.last %>
            <%= content_tag(:option, c.first, value: c.last, :selected => true) %>
          <% else %>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      <% end %>
    </p>
    <p>    
      <%= requirement.label :operation %>
      <%= requirement.select(:operation, options_for_select([['greater than','greater than'],['less than','less than'],['equals','equals']])) %>
    </p>
    <p>    
      <%= requirement.label :amount %>
      <%= requirement.text_field :amount %>
    </p>
    <p>
      <%= requirement.submit %>
    </p>
  <% end %>