    <h2>Story Requirements</h2>
      <table>
        <tr>
          <th>Quality</th>
          <th>Modifier</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
        <%= for @story.requirements.each do |existing_requirements| %>
          <tr>
            <td><%= existing_requirements.quality_id %></td>
            <td><%= existing_requirements.modifier %></td>
            <td><%= existing_requirements.amount %></td>    
            <td><%= link_to 'Edit',  %></td>                
          <tr>
        <% end %>
        <%= fields_for @requirement do |requirement| %>
          <tr>   
            <td>
            <%= requirement.select(:quality_id) do %>
              <% Quality.all.collect{|q| [q.name, q.id]}.each do |c| -%>
                <%= content_tag(:option, c.first, value: c.last) %>
              <% end %>
            </td>
            <td></td>
            <% end %>
          </tr>
        <% end %>  
      </table>
