<tr class="level_fields">
  <td> 
    <%= @level.to_s %>
    <%= f.hidden_field(:rank, :value => params[@level.to_s]) %>
  </td>
  <td>    
    <%= f.text_field :description %>
  </td>
  <td>    
    <%= f.text_field :image_path %>
  </td>
  <td>    
    <%= f.text_field :minimum_points %>
  </td>
  <td>
    <%= link_to_remove_association('Delete Level', f, {wrapper_class: 'level_fields'}) %>
  </td>
</tr>
<% @level = @level.next %>
