<%= form_for @quality do |quality| %>
  <div id="quality_form_wrapper">
    <%= render 'qualityformerrors' %>
    <p> 
      <%= quality.label :name %>    
      <%= quality.text_field :name %>
    </p>
    <p>    
      <%= quality.label :description %>
      <%= quality.text_area :description %>
    </p>
    <p>    
      <%= quality.label :image_path %>
      <%= quality.text_field :image_path %>
    </p>
    <p>
      <%= quality.label :is_this_quality_ranked? %>
      <%= quality.check_box :ranked %>
    <p>
    <p>
      <%= quality.submit "Update", :id => "quality_submit_button" %>
    </p>
  </div>
  <div id="level_form_wrapper">
    <table class="levels_table">
      <tr>
        <th>Level</th>
        <th>Description</th>
        <th>Image Path</th>
        <th>Minimum Points</th>
        <th>Action</th>
      </tr>
      <%= quality.fields_for :levels do |f| %>
        <%= render 'level_fields', :f => f %> 
      <% end %>
    </table>
  <%= link_to_add_association "+ Add Level", quality, :levels, 'data-association-insertion-node' => ".levels_table", 'data-association-insertion-method' => "append" %>
  </div>
<% end %>
