<table>
  <tr>
    <th>Key</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image Path</th>
    <th>Actions</th>
  </tr>
  <% @qualities.each do |quality| %>
    <tr>
      <td><%= quality.id %></td>
      <td><%= quality.name %></td>
      <td><%= quality.description %>
        <% quality.levels.each do |level| %>
            <p><%= level.rank %>. <%= level.description %></p>
        <% end%>
      </td>
      <td><%= image_tag "icons/#{quality.image_path}", :class => "large_icon" %></td>
      <td>
        <%= link_to 'Edit', edit_quality_path(quality) %>,
        <%= link_to 'Destroy', quality_path(quality), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>