<table>
  <tr>
    <th>Quality Required</th>
    <th>Operation</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>
  <% @effects.each do |effect| %>
  <tr>
    <td><%= effect.quality.name %></td>
    <td><%= effect.operation %></td>
    <td><%= effect.amount %></td>
    <td>
      <%= link_to 'Delete', effect_path(effect, :branch_id => @branch.id), method: :delete %>
    </td>
  </tr>
  <% end %>
  <%= form_for @effect do |effect| %>
    <%= render 'effectformerrors' %> 
    <%= effect.hidden_field :branch_id, :value => @branch.id %>
    <tr>
      <td>
      <%= effect.label :quality_name %>    
      <%= effect.select(:quality_id) do %>
        <% @qualities.collect{|q| [q.name, q.id]}.each do |c| -%>
          <% if @effect.quality_id == c.last %>
            <%= content_tag(:option, c.first, value: c.last, :selected => true) %>
          <% else %>
            <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      <% end %>
      </td>
      <td>    
        <%= effect.label :operation %>
        <%= effect.select(:operation, options_for_select([['plus','plus'],['minus','minus']])) %>
      </td>
      <td>    
        <%= effect.label :amount %>
        <%= effect.text_field :amount %>
      </td>
      <td>
        <%= effect.button :submit, name: "branch_id", value: @branch.id %>
    </tr>
  <% end %>
</table>
