<%= story.fields_for :branches do |branch| %>
  <div class="branch_card">
    <div class ="branch_card_left_column">
      <% unless branch.object.id.blank? %>
        <%= branch.hidden_field(:id, :value => branch.object.id)%>
      <% end %>
      <b><%= branch.label :Title %></b>
      <%= branch.text_field :title %> 
      <b><%= branch.label(:Hook, class: "branch_description") %></b>
      <%= branch.text_area :description %>
      <b><%= branch.label :Outcome %></b>
      <%= branch.text_area :outcome %>
      <br>
    </div>  
    <p>HELLOOOOOOOOOOOOOOOOoo</p>
    <div class ="branch_card_right_column">
      <div id="effectform">
        <h3>Branch Effects</h3>
        <table class="effects-table-<%="#{branch.object.id}"%>">
          <tr>
            <th>Quality Required</th>
            <th>Operation</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
          <%= branch.fields_for :effects do |effect| %>
          <%= render 'effect_fields', :f => effect %>
          <% end %>
        </table>
          <%= link_to_add_association 'Add Effect', branch, :effects, 'data-association-insertion-node' => ".effects-table-#{branch.object.id}",'data-association-insertion-method' => "append" %>
      </div>
    </div>
      <div id="submit_button"><%= story.button :submit, name: "story_id", value: @story.id %></div>
  </div>
  <% end %>
