<h1>Existing Stories</h1>
<p><%= link_to 'Add a Story', new_story_path %></p>
<table>
  <tr>
    <th>Key</th>
    <th>Title</th>
    <th>Text</th>
    <th>Image</th>
    <th>Actions</th>
    <th>Requirements</th>
    <th>Outcomes</th>
  </tr>
 
  <% @stories.each do |story| %>
    <tr>
      <td><%= story.id %></td>
      <td><%= story.title %></td>
      <td><%= story.body %></td>
      <td><%= image_tag "#{story.image_path}" %></td>
      <td><%= link_to 'Edit Story', edit_story_path(story) %>,
          <%= link_to 'Delete Story', story_path(story), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      <td><%= link_to 'Show Requirements', {:controller => "requirements", :action => "new", :story_id => story.id} %></td>
      <td><%= link_to 'Show Outcomes', {:controller => "outcomes", :action => "new", :story_id => story.id} %></td>
      </tr>
  <% end %>
</table>