<%= render "/layouts/backend_navigation" %>
<h1>Existing Stories</h1>
<table>
  <tr>
    <th>Key</th>
    <th>Title</th>
    <th>Text</th>
    <th>Actions</th>
  </tr>
 
  <% @stories.each do |story| %>
    <tr>
      <td><%= story.id %></td>
      <td><%= story.title %></td>
      <td><%= truncate(story.body, :length => 100) %></td>
      <td><%= link_to 'Edit Story', edit_story_path(:story_id => story.id) %>,
          <%= link_to 'Delete Story', story_path(:id => story.id, :story_id => story.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </tr>
  <% end %>
<p><%= link_to 'Add a Story', new_story_path %></p>
</table>