<h1>New Story</h1>

  <p>Story Title</p>
  <%= form_for :story, url: stories_path do |title| %>
    <%= render 'storyformerrors' %>
    <p>    <%= title.text_field :title %>
    </p>
    <p>    <%= title.text_area :body %>
    </p>
    <p>
      <%= title.submit "Add to the Deck" %>
    </p>
  <% end %>