<%= render layout: "/layouts/main_game" do %>
  <h1><%= @branch.title %></h1>
  <p><%= @branch.outcome %></p>
  <% unless @stat_outcomes.nil? %>
    <ul class="outcomes_list">
    <% @stat_outcomes.each do |outcome| %>
        <li><%= outcome %></li>
    <% end %>
    </ul>
  <% end %>
  <p><%= button_to "Continue", character_path(), :method => 'get' %></p>

  <% if @character.nil? %>
    <p><%= link_to 'Show All Stories', stories_path %></p>
    <p><%= link_to 'Show all Branches for All Stories', branches_path %></p>
  <% end %>
<% end %>