<h1><%= @story.title %></h1>

<p><%= @story.body %></p>
<p><%= @story.image_path %></p>
<p><%= image_tag "#{@story.image_path}" %></p>

    <p><%= link_to 'Edit Story', edit_story_path(@story) %></p>
    <p><%= link_to 'Delete Story', story_path(@story), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <p><%= link_to 'Show All Story Cards', stories_path %></p>