<h1><%= @story.title %></h1>

<p><%= image_tag "#{@story.image_path}" %></p>
<p><%= @story.body %></p>

<% if @character.nil? %>
  <p><%= link_to 'Edit Story', edit_story_path(@story) %></p>
  <p><%= link_to 'Delete Story', story_path(@story), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <p><%= link_to 'Show All Story Cards', stories_path %></p>
<% else %>
  <% %>
    <p><p>
<% end %>