<%= render layout: "/layouts/main_game" do %>
  <h2><%= @story.title %></h2>
  <% if @story.image_path?%>
    <%= image_tag "#{@story.image_path}" %>
  <% end %>
  <p><%= @story.body %></p>
  <% unless @story.branches.nil?%>
      <%= render 'play_branch_card' %>
  <% end %>
<% end %>