#intro4
  %p The windows are grimy, but if you squint, you can make out your silhouette.
  %p
    You look like:
    %i (Select one)
  - @character.errors[:avatar_image_path].each do | msg |
    %p.error_message= msg
  - (1..12).each do |image|
    = image_pack_tag "avatar#{image}.png", :class => "avatar_icon_medium_selectable", :id => "avatar#{image}"
  = f.hidden_field :avatar_image_path, :value => ""
