<div id="intro3">
	<p>You look into a window and see your reflection staring back. You are:</p>
    <p>
    <%= f.radio_button :gender, "female" %>
    <%= label :gender_male, "A woman. " %>
    </p>
    <p>
    <%= f.radio_button :gender, "male" %>
    <%= label :gender_male, "A man." %>
    </p>
    <p>
    <%= f.radio_button :gender, "neither" %>
    <%= f.label :gender_neither, "Exceptionally good-looking. The rest remains a mystery." %>
    </p>
    <p>
    <%= f.radio_button :gender, "asexual." %>
    <%= label :gender_male, "A sentient carrot." %>
    </p>
  <div class="error_messages">
    <% @character.errors[:gender].each do | msg |  %>
      <p class="error_message"><%= msg %></p>
    <% end %>
  </div>
  <br>
</div>
