<div id="intro2">
<p>The ache in the your head recedes, but when you try to think back, your vision flashes with pain.</p>
  <%= form_for :character, url: characters_path do |f| %>
    <%= render 'characterformerrors' %>
    <p><b>:</b></p>
    <%= f.text_field :name %>
    <br><br>
    <p>You look into a window and see your reflection staring back. You are:</p>
    <p>
    <%= f.radio_button :gender, "female" %>
    <%= label :gender_male, "A woman. " %>
    </p>
    <p>
    <%= f.radio_button :gender, "male" %>
    <%= label :gender_male, "A man." %>
    </p>
    <p>
    <%= f.radio_button :gender, "hot" %>
    <%= f.label :gender_neither, "Unconscionably attractive. Other things remain a mystery, like why this question is even here. We aren't even using your answer. It is entirely not relevant to the game. We just wanted to be cool and liberal like Fallen London. Feel free to click whatever the heck you want." %>
    </p>
    <p>
    <%= f.radio_button :gender, "asexual." %>
    <%= label :gender_male, "A sentient carrot." %>
    </p>
    <br>
    <p><b>You look like: </b><i>(Select one)</i></p>
    <% (1..12).each do |image| %>
    <%= image_tag "#{image}.png", size: "175x225" %>
    <% end %>
    <p><%= f.submit "Continue", :id => "character_submit_button"%> </p>
  <% end %>
</div>