<h1>Edit Character Info</h1>
  <p>Henceforth, you shall be known as:</p>
  <%= form_for :character, url: character_path, method: :patch do |f| %>
    <% render 'characterformerrors' %>
    <p>    <%= f.text_field :name %>
    </p>
    <div class="error_messages">
      <% @character.errors[:name].each do | msg |  %>
        <p class="error_message"><%= msg %></p>
      <% end %>
    </div>
    <div>
      <%= f.radio_button :gender, "female" %>
      <%= f.label :gender_female, "A woman. " %>
      <br><br>
      <%= f.radio_button :gender, "male" %>
      <%= f.label :gender_male, "A man." %>
      <br><br>
      <%= f.radio_button :gender, "neither" %>
      <%= f.label :gender_neither, "Exceptionally good-looking. The rest remains a mystery." %>
      <br><br>
      <%= f.radio_button :gender, "carrot" %>
      <%= f.label :gender_carrot, "A sentient carrot." %>
    </div>
    <div class="error_messages">
      <% @character.errors[:gender].each do | msg |  %>
        <p class="error_message"><%= msg %></p>
      <% end %>
    </div>
    <p>You look like: <i>(Select one)</i></p>
    <% @character.errors[:avatar_image_path].each do | msg |  %>
      <p class="error_message"><%= msg %></p>
    <% end %>
    <% (1..12).each do |image| %>
      <%= image_pack_tag "avatar#{image}.png", :class => "avatar_icon_medium_selectable", :id => "avatar#{image}" %>
      <% end %>
    <%= f.hidden_field :avatar_image_path, :value => ""%>
    <p>
    <%= f.submit %>
    </p>
  <% end %>
