<%= render layout: "/layouts/flashcard" do %>
  <%= form_for @character do |f| %>
    <%= render "#{@character.current_step}_step", :f => f %>
    <div id="flashcard_buttons">
      <%= f.submit "Back", :name => "back_button" unless @character.first_step? %>
      <%= f.submit "Continue" %>
  </div>
  <% end %>
<% end %>