<%= render layout: "/layouts/flashcard" do %>
  <%= form_for @character do |f| %>
    <% @character.errors.full_messages.each do |msg|  %>
      <li><%= msg %></li>
    <% end %>
    <%= render "#{@character.current_step}_step", :f => f %>
    <%= f.submit "Back", :name => "back_button" unless @character.first_step? %>
    <%= f.submit "Continue" %>
  <% end %>
<% end %>