<%= render layout: "/layouts/main_game" do %>


  <h2>Stories Available</h2>
  <table>
    <tr>
      <th>Story Name</th>
      <th>Requirements</th>
      <th>Actions</th>
    </tr>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td>
          <ul>
          <% if story.requirements.first.nil? %>
            <li>No requirements.</li>
          <% else story.requirements.each do |requirement| %>
            <li>
              <%= requirement.quality.name %>
              <%= requirement.operation %>
              <%= requirement.get_level %>
            </li>
            <% end %>
          <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'Go', play_story_path(:story_id => story.id) %>
        </td>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>