<%= render layout: "/layouts/main_game" do %>


  <h2><%= @character.location.description  %></h2>
  <p><%= @character.location.flavor_text%></p>
  <% if @character.location.description == "The Station Exchange" %>
    <h3>The Hand of Fate...</h3>
    <p>Click on a fate card to play it.</p>
    <figure>
      <%= image_tag "story_card_back.png", :class => "fate_card_medium"%>
      <figcaption>
        <b><%= @character.deck_size %> Cards Available</b><br>
        Additional Card in X mins.
      </figcaption>
    </figure>
    <% @fate_stories.each do |fate_story| %>
      <figure>
        <%= link_to image_tag("#{fate_story.image_path}", :class => "fate_card_medium", :title => "#{fate_story.body}"), play_story_path(:story_id => fate_story.id), :method => :get %>
        <figcaption>
          <b><%= fate_story.title %></b>
        </figcaption>
      </figure>
    <% end %>
  <% end %>
  <h3>Play stories from <%= @character.location.description%>...</h3>
  <br>
  <% @stories.each do |story| %>
    <div class="story_card">
      <div class="story_card_left">
        <%= image_tag "icons/#{story.image_path}", :class => "large_icon" %>
      </div>
      <div class="story_card_middle">
        <h4><%= story.title %></h4>
        <%= story.hook %>
      </div>
      <div class="story_card_right">
        <%= button_to 'Go', play_story_path(:story_id => story.id), class: "go_button", :method => :get %>
      </div>
    </div>
  <% end %>
<% end %>