<%= render layout: "/layouts/main_game" do %>


  <h2><%= @character.location.description%></h2>
  <p><%= @character.location.flavor_text%></p>

  <% @stories.each do |story| %>
    <div class="story_card">
      <div class="story_card_left">
        <h4><%= story.title %></h4>
        <%= story.hook %>
      </div>
      <div class="story_card_right">
        <%= button_to 'Go', play_story_path(:story_id => story.id), class: "go_button", :method => :get %>
      </div>
    </div>
  <% end %>
<% end %>