    <h2>Story Outcomes</h2>
      <table>
        <tr>
          <th>Quality</th>
          <th>Modifier</th>
          <th>Amount</th>
          <th>Action</th>
        </tr>
        <%= for @story.outcomes.each do |existing_outcomes| %>
          <tr>
            <td><%= existing_outcomes.quality_id %></td>
            <td><%= existing_outcomes.modifier %></td>
            <td><%= existing_outcomes.amount %></td>    
            <td><%= link_to 'Edit',  %></td>                
          <tr>
        <% end %>
        <%= fields_for @outcome do |outcome| %>
          <tr>   
            <td>
            <%= outcome.select(:quality_id) do %>
              <% Quality.all.collect{|q| [q.name, q.id]}.each do |c| -%>
                <%= content_tag(:option, c.first, value: c.last) %>
              <% end %>
            </td>
            <td></td>
            <% end %>
          </tr>
        <% end %>  
      </table>
